.container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 90%;
    max-width: 1024px;
    height: 80vh;
    display: flex;
    overflow: hidden;

    backdrop-filter: blur(23px) saturate(200%);
    -webkit-backdrop-filter: blur(23px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.46);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    &__side-menu {
        width: 20%;
        padding: 50px 10px;
        border-right: 1px solid rgb(255 255 255 / 13%);
        // background-color: orange;
    }

    &__content {
        width: 80%;
        padding: 25px 0px 0px 0px;
        // background-color: blue;
    }
}

.menu {
    &__item {
        color: white;
        padding: 10px 30px;
        font-size: 14px;
        border-radius: 10px;
        cursor: pointer;

        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;

        transition: all .2s;

        &:hover {
            transition: all .2s;
            background-color: rgb(38 38 38 / 15%);
        }

        &--selected {
            background-color: rgb(38 38 38 / 15%);
        }
    }

    &__item-icon {
        margin-right: 5px;
        font-size: 20px;
    }
}