<div class="general__informations">
    <div class="general__user-item">
      <span class="general__item-title">Nome: </span>
      <span class="general__item-value">Filipe</span>
    </div>
    <div class="general__divider"></div>
    <div class="general__user-item">
      <span class="general__item-title">Data de Nascimento: </span>
      <span class="general__item-value">01/03/2004</span>
    </div>
    <div class="general__divider"></div>
    <div class="general__user-item">
      <span class="general__item-title">Gênero: </span>
      <span class="general__item-value">Masculino</span>
    </div>
    <div class="general__divider"></div>
    <div class="general__user-item">
      <span class="general__item-title">Nacionalidade: </span>
      <span class="general__item-value">Brasileira</span>
</div>