
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import './style/general.scss';
@import './style/transactions.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url('./assets/images/background-waves-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}